asn1crypto==0.24.0
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.3.7
configobj==5.0.6
cryptography==2.6.1
devscripts==2.19.5+deb10u1
distro==1.3.0
distro-info==0.21
entrypoints==0.3
future==0.18.2
httplib2==0.11.3
idna==2.6
keyring==17.1.1
keyrings.alt==3.1.1
louis==3.8.0
oauthlib==3.1.0
olefile==0.46
pexpect==4.6.0
Pillow==5.4.1
prompt-toolkit==1.0.15
pycairo==1.16.2
pycrypto==2.6.1
pycurl==7.43.0.2
Pygments==2.3.1
PyGObject==3.30.4
PyMySQL==0.9.3
PySimpleSOAP==1.16.2
PySocks==1.7.1
python-apt==1.8.4.1
python-debian==0.1.35
python-debianbts==2.8.2
python-twitter==3.5
pyxattr==0.6.1
pyxdg==0.25
ranger-fm==1.9.2
reportbug===7.5.3-deb10u1
reportlab==3.5.13
requests==2.21.0
requests-oauthlib==1.3.0
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.2.4
tabulate==0.8.2
terminaltables==3.1.0
unattended-upgrades==0.1
urllib3==1.24.2
wcwidth==0.1.7
youtube-dl==2019.1.17
